* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3c5aa6;
}

  /* Navigation Bar Styles */

.nav-bar {
    width: 100%;
    height: 50px;
    background-color: #3c5aa6;
    display: inline-block;
}

.nav-list {
    list-style-type: none;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    color: #ffcb05;
    padding: 14px;
  }

   /* Pokemon List Styles */
   .pokemonList {
    margin: 0 auto;
    margin-top: 35px;
    width: 300px;
    height: 125px;
    border: 1px solid #ffcb05;
    border-radius: 10%;
    text-align: center;
    line-height: 15px;

    /* Grid Styling */
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
   }


   .pokemonName {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: -25px;
   }

   .pokemonHeight {
    font-size: 15px;
   }

/* Media Query for Phones */